<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">HayashiDiary</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">メニューＡ</a></li>
				<li><a href="#">メニューＢ</a></li>
				<li><a href="#">メニューＣ</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">

			<%= form_for(@article) do |f| %>

				<h4>天気</h4>
				<%= f.text_field :weather %>

				<h4>タイトル</h4>
				<%= f.text_field :title %>

				<h4>本文</h4>
				<%= f.text_area :body %>

				<h4>画像</h4>
				<%= f.attachment_field :image %>
			
				<%= f.submit "投稿" %>

				
			<% end %>
		</div>


			<% if @article.errors.any? %>
			  <div id="error_explanation" class="alert alert-danger">
			    <ul>
			      <% @article.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			  </div>
			<% end %>

		<div class="col-md-8">

				<table  class="table">
				<tr>

				<th>天気</th>
				
				<th>タイトル</th>
				
				<th>本文</th>
				
				<th>画像</th>

				<th>投稿日時</th>
				
				</tr>
				<% @articles.each do |article| %>
					<tr>
					<td><%= article.weather %></td>
					<td><%= article.title %></td>
					<td><%= link_to article.body, "/articles/#{article.id}" %></td>
					<td><%=attachment_image_tag article, :image, :fill, 100, 100, fallback: "cat.jpg", size: '100x100', format: 'jpeg' %></td>
					<td><%= article.created_at.strftime("%Y/%m/%d %R") %></td>
					</tr>
				<% end %>
				</table>
		
		</div>
	</div>
</div>

